<form class="{{> classes/form }}" method="POST" action="{{> paths/authorize }}">

  <h2>Authorization request</h2>

  {{ name }}, is requesting full read and write access to your Open Tourism Platform account.
   you will be redirected to {{ redirect_uri }}.

  <button class="{{> classes/formSubmit }}" type="submit" value="submit">Authorize</button>

</form>
