<form class="{{> classes/form }}" method="POST" action="{{> paths/authorize }}">

  <h2>Authorization request</h2>

  {{ name }}, owned by {{ user }}, is requesting full read and write access to your Open Tourism Platform account.
  If you authorize this app, you will be redirected to {{ redirect_uri }}.

  <button class="{{> classes/formSubmit }}" type="submit" value="submit">Authorize</button>

</form>
