<h2>The app at </h2>

An app owned by {{ user }} is requesting access to your Open Tourism Platform account.
If you authorize this app, you will be redirected to {{ redirectUri }}.

<input type="submit">Authorize</input>
