<h2>Login</h2>

<form class="form">

  <label class="form-label">Username:
    <input class="form-input" type="text" name="username">
  </label>

  <label class="form-label">Password:
    <input class="form-input" type="password" name="password">
  </label>

</form>