<form class="{{> classes/form }}" method="POST" action={{> paths/login }}>

  <h2 class="{{> classes/formTitle }}">Login</h2>

  {{#if client}}
  	<span>Sign in with the <strong>Nazareth Open Tourism Platform</strong> to continue to <strong>{{ client }}</strong>.</span>
  {{/if}}

  <label class="{{> classes/formLabel }}">Username:
    <input class="{{> classes/formInput }}" type="text" name="username">
  </label>

  <label class="{{> classes/formLabel }}">Password:
    <input class="{{> classes/formInput }}" type="password" name="password">
  </label>

  <button class="{{> classes/formSubmit }}" type="submit" value="submit">Submit</button>

  <span>Don't have an account yet? <a href="/register">Create one now!</a></span>

</form>
