<form class="{{> classes/form }}" method="POST" action="/login">

  <h2 class="{{> classes/formTitle }}">Login</h2>

  <label class="{{> classes/formLabel }}">Username:
    <input class="{{> classes/formInput }}" type="text" name="username">
  </label>

  <label class="{{> classes/formLabel }}">Password:
    <input class="{{> classes/formInput }}" type="password" name="password">
  </label>

  <button class="{{> classes/formSubmit }}" type="submit" value="submit">Submit</button>

</form>
